name: Deploy to Amazon ECS

on:
  push:
    branches:
      -  main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@5.1.0
        with:
          - aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          - aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          - aws-region: us-east-2
